<h3>Equatio 2.3: Kans op klachtenvrije dagen</h3>
<%= render partial: 'form_guiltfree_days' %>
<h3>Equation 2.4: Kans op opengekraste vakjes, gegeven klachteloze vrije dagen</h3>
<%= render partial: 'form_checked_boxes' %>

